body{
    background-color: #faf9f6;
    font-family: 'Poppins', sans-serif;
    margin: 50px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    margin: 50px 50px 0px 50px;
}


.main{
    flex: 1;
}

h1{
    font-size: 5rem;
}

footer{
    color: midnightblue;
    text-align: right;
}

.title-image{
    height: 300px;
    float: left;
    margin-right: 50px;
}

.card{
    width:50%;
}

.left-card{
    float: left;
}

.right-card{
    float:right;
}

.japanese{
    color:midnightblue;
}
 
@media(max-width: 980px){
.logo{
 width:50px;
}

h1{
    font-size:3.5rem;
    text-align: center;
}

.card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 50px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
